.award-container {
    width: calc(100% - 30px);
    margin-left: 30px;
    margin-bottom: 10px;
}

.award-title-container {
    display: flex;
    justify-content: space-between;
}

.award-title {
    font-size: 18px;
    font-weight: normal;
    max-width: 70%;
}

.award-extra {
    display: block;
    font-weight: normal;
    flex-basis: 0;
    white-space: nowrap;
    max-width: 70%;
}