.home {
    position: absolute;
    background-color: #282c34;
    width: 100vw;
    height: 100vh;
}

.home-content {
    width: 90%;
    max-width: 500px;
    margin: 100px auto auto;
}

.home-content-container {
    margin-top: 16px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}